.app-fab {
  position: absolute;
  text-align: center;
  z-index: 1;
}

.mat-fab.mat-primary {
  left: 24px;
  bottom: 24px;
}

.mat-fab.mat-accent {
  left: 92px;
  bottom: 24px;
}

.example-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 104px;
  width: 40%;
}

@media screen and (max-width: 900px) {
  .example-card {
    width: 90%;
  }
}


.example-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}
