
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>Nieuwe competitie</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Maak hier een nieuwe competitie aan
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="competitie.naam" placeholder="Naam">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Teamgrootte" [(ngModel)]="competitie.teamgrootte">
          <ng-container *ngFor="let waarde of teamgroottes">
            <mat-option [value]="waarde">
              {{waarde}} tegen {{waarde}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>


      <mat-form-field *ngIf="competitie.teamgrootte == 2">
        <mat-select placeholder="Type" [(ngModel)]="competitie.competitietype" (keydown.enter)="save()">
          <ng-container *ngFor="let waarde of competitietypes">
            <mat-option [value]="waarde">
              {{waarde}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>


    <ng-container *ngIf="competitie.teamgrootte == 1 || competitie.teamgrootte == 2 && competitie.competitietype == competitietypes[1]">
      <table cellspacing="0">
        <ng-container  *ngFor="let deelnemer of competitie.deelnemers; let i = index;">
          <tr>
            <mat-form-field>
              <td><input matInput [(ngModel)]="deelnemer.naam" placeholder="Speler {{i + 1}}"
                     (keydown.tab)="addDeelnemer(i+1)" (keydown.enter)="save()"></td>
            </mat-form-field>
          </tr>
        </ng-container>
      </table>
    </ng-container>

    <ng-container *ngIf="competitie.teamgrootte == 2 && competitie.competitietype == competitietypes[0]">
      <table cellspacing="0">
        <ng-container  *ngFor="let deelnemer of competitie.deelnemers; let i = index;">
          <tr>
            <mat-form-field>
              <td><input matInput [(ngModel)]="deelnemer.naam" placeholder="Team {{i + 1}}, speler 1"></td>
            </mat-form-field>&nbsp;
            <mat-form-field>
              <td><input matInput [(ngModel)]="deelnemer.naam2" placeholder="Team {{i + 1}}, speler 2"
                     (keydown.tab)="addDeelnemer(i+1)" (keydown.enter)="save()"></td>
            </mat-form-field>
          </tr>
        </ng-container>
      </table>
    </ng-container>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab class="app-fab" color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-fab class="app-fab" color="accent" (click)="goBack()">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>




