.app-fab {
  position: absolute;
  text-align: center;
  left: 24px;
  bottom: 24px;
  z-index: 1;
}

.example-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  width: 40%;
}

@media screen and (max-width: 900px) {
  .example-card {
    width: 90%;
  }
}

.mat-card .mat-divider-horizontal {
  position: static;
}

.right {
  text-align: right;
}

mat-progress-bar {
  width:30%;
  height: 5px;
  position: absolute;
  right: 16px;
  bottom: 21.5px;
}


.mat-raised-button {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
