<div *ngIf="competities">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Competities</h2>
      </mat-card-title>
      <mat-card-subtitle>
        Competitie overzicht
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <ng-container *ngFor="let competitie of competities; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <mat-list-item (click)="gotoDetail(competitie)">
            <div mat-line>{{competitie.naam}}</div>
            <mat-progress-bar
              class="example-margin"
              color="primary"
              mode="determinate"
              value="{{competitie.percentage}}"
              bufferValue="bufferValue">
            </mat-progress-bar>

          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="primary" class="app-fab" (click)="goToNew()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

</div>





