<h1 mat-dialog-title>Wedstrijd opvoeren</h1>

<div mat-dialog-content>
  <ng-container *ngFor="let speler of data.wedstrijd.spelers; let i = index">
    <ng-container *ngIf="speler.thuis">
      <mat-form-field>
        <input matInput [disabled]="true" placeholder="Team 1, speler {{i + 1}}" [(ngModel)]="speler.naam">
      </mat-form-field>&nbsp;
    </ng-container>
  </ng-container>
  <mat-form-field>
    <input matInput [(ngModel)]="data.wedstrijd.scoreThuis" placeholder="Score">
  </mat-form-field><br>

  <ng-container *ngFor="let speler of data.wedstrijd.spelers; let i = index">
    <ng-container *ngIf="!speler.thuis">
      <mat-form-field>
        <input matInput [disabled]="true" placeholder="Team 2, speler {{i - (data.wedstrijd.spelers.length/2 - 1)}}" [(ngModel)]="speler.naam">
      </mat-form-field>&nbsp;
    </ng-container>
  </ng-container>
  <mat-form-field>
    <input matInput [(ngModel)]="data.wedstrijd.scoreUit" placeholder="Score">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">save</button>
</div>
