.app-fab {
  position: absolute;
  text-align: center;
  z-index: 1;
}


.example-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  width: 40%;
}

@media screen and (max-width: 900px) {
  .example-card {
    width: 90%;
  }
}

.mat-fab.mat-accent {
  left: 24px;
  bottom: 24px;
}

.bold {
  font-weight: bold;
}

table {
  width: 100%;
}

/*STAND*/
.mat-column-id {
  text-align: right;
  width: 15%;
 }

.mat-column-naam {
  text-align: left;
  width: 40%;
}

.mat-column-gespeeld {
  text-align: center;
  width: 10%;
}

.mat-column-doelsaldo {
  text-align: center;
  width: 10%;
}

.mat-column-gewonnen {
  text-align: center;
  width: 10%;
}

.mat-column-end2 {
  text-align: center;
  width: 15%;
}

/*PROGRAMMA*/
.mat-column-tegen {
  text-align: center;
  width: 5%;
}

.mat-column-aanpassen {
  text-align: left;
  width: 5%;
}

.mat-column-end1 {
  text-align: center;
  width: 5%;
}


/*UITSLAGEN*/
.mat-column-datum {
  text-align: left;
  width: 35%;
}

.mat-column-thuis {
  text-align: right;
  width: 20%;
}

.mat-column-uitslag {
  text-align: center;
  width: 10%;
}

.mat-column-uit {
  text-align: left;
  width: 20%;
}


