<div *ngIf="competitie">

  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>
        <h2>{{competitie.naam}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        {{competitie.teamgrootte}} tegen {{competitie.teamgrootte}}, {{competitie.competitietype}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="activeTab" >
        <mat-tab label="Programma">
          <br>
          <table mat-table [dataSource]="getProgramma()" class="mat-elevation-z8">
            <ng-container matColumnDef="thuis">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let speler of element.spelers;">
                  <ng-container *ngIf="speler.thuis">{{speler.naam}}&nbsp;</ng-container>
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="tegen">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">-</td>
            </ng-container>
            <ng-container matColumnDef="uit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let speler of element.spelers;">
                  <ng-container *ngIf="!speler.thuis">&nbsp;{{speler.naam}}</ng-container>
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="aanpassen">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="popupAddWedstrijd(element)">
                  <mat-icon aria-label="Register">playlist_play</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsWedstrijden"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsWedstrijden;"></tr>
          </table>
        </mat-tab>

        <mat-tab label="Uitslagen">
          <br>
          <table mat-table [dataSource]="getUitslagen()" class="mat-elevation-z8">
            <ng-container matColumnDef="datum">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" >
                  {{element.datum.slice(0,10)}} {{element.datum.slice(11,16)}}
              </td>
            </ng-container>
            <ng-container matColumnDef="thuis">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div [class.bold]="element.scoreThuis > element.scoreUit">
                  <ng-container *ngFor="let speler of element.spelers;">
                    <ng-container *ngIf="speler.thuis">{{speler.naam}}&nbsp;</ng-container>
                  </ng-container>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="uitslag">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                  {{element.scoreThuis}} - {{element.scoreUit}}
              </td>
            </ng-container>
            <ng-container matColumnDef="uit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div [class.bold]="element.scoreThuis < element.scoreUit">
                  <ng-container *ngFor="let speler of element.spelers;">
                    <ng-container *ngIf="!speler.thuis">&nbsp;{{speler.naam}}</ng-container>
                  </ng-container>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="end2">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsUitslagen"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsUitslagen;"></tr>
          </table>
        </mat-tab>


        <mat-tab label="Stand">
          <br>
          <table mat-table [dataSource]="competitie.deelnemers" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let i = index">{{i+1}}&#46;&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="naam">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">{{element.naam}}</td>
            </ng-container>
            <ng-container matColumnDef="gespeeld">
              <th mat-header-cell *matHeaderCellDef> GS </th>
              <td mat-cell *matCellDef="let element"> {{element.gespeeld}}</td>
            </ng-container>
            <ng-container matColumnDef="doelsaldo">
              <th mat-header-cell *matHeaderCellDef> DS </th>
              <td mat-cell *matCellDef="let element"> {{element.doelsaldo}}</td>
            </ng-container>
            <ng-container matColumnDef="gewonnen">
              <th mat-header-cell *matHeaderCellDef> GW </th>
              <td mat-cell *matCellDef="let element"> {{element.gewonnen}}</td>
            </ng-container>
            <ng-container matColumnDef="end2">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSpelers"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSpelers;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>


    <mat-card-actions>
      <button mat-fab class="app-fab" color="accent" (click)="goBack()">
        <mat-icon>home</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


</div>



